
/**
 * data:2017-3-14
 */

$main-color:#FFD100;
$dark-color:#282828;

.app-wbox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.app-wbox-vertical{
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
}
.app-flex-1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.app-bbox{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
}
.app-line1{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.app-line2{
  @extend .app-wbox;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.app-ccenter{
  @extend .app-wbox;
  -webkit-box-align:center;
  -moz-box-align:center;
  box-align:center;
  -webkit-box-pack:center;
  -moz-box-pack:center;
  box-pack:center;
}
.app-vcenter{
  @extend .app-wbox;
  -webkit-box-align:center;
  -moz-box-align:center;
  box-align:center;
}
.app-acenter{
  @extend .app-wbox;
  -webkit-box-pack:center;
  -moz-box-pack:center;
  box-pack:center;
}


#app{
	.app-img{
		display: block;
		width: 100%;
	}
	.app-upload-img{
		padding:10px 0;
		.app-upload-btn{
			border:1px solid #ddd;
			width: 80px;
			height: 80px;
			text-align: center;
			i{
				line-height: 80px;
			}
		}
	}
	.app-fix-head{
		width: 100%;
		height: 45px;
	}
	.app-fix-foot{
		width: 100%;
		height: 56px;
	}
	.app-color-dark{
		color:$dark-color;
	}
	.app-color-main{
		color: $main-color;
	}
	.app-color-white{
		color: white;
	}
	.app-bg-white{
		background:white;
	}
	.app-bg-main{
		background:$main-color;
	}
	.app-bg-dark{
		background:$dark-color;
	}
	.app-font-middle{
		font-size:0.7em;
	}
	.app-font-big{
		font-size:0.9em;
	}
	.app-line20{
		line-height:20px;
	}
	.app-top-margin{
		margin-top:10px;
	}
	.app-bottom-margin{
		margin-bottom:10px;
	}
	.app-no-padding{
		padding:0;
	}
	.app-padding{
		padding: 10px;
	}
	.app-padding-20{
		padding:20px;
	}
	.app-in-block{
		display: inline-block;
	}
	.current{
		.app-color-white{
			color: $main-color;
		}
	}
}

